# Maven
/.mvn/
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Excluir todos os JARs, exceto o específico que queremos
# !target/nsg-0.0.1-SNAPSHOT.jar # Inclua isso para permitir o JAR específico
*.jar

# IDEs
.settings/
.classpath
.project
.vscode/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp

# Outros
*.war
*.zip
*.tar.gz
*.tar

# Arquivos do Windows
ehthumbs.db
Icon?
Desktop.ini

# Arquivos de backup
*~ 
*.bak
